<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>554402043793-ivjrhm6v0lqr63bcl0vmqe6e5o7ql8i1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554402043793-ivjrhm6v0lqr63bcl0vmqe6e5o7ql8i1</string>
	<key>API_KEY</key>
	<string>AIzaSyCOCaOn_NgWwtx7V72Bfq9ZDkZTKYOA8F8</string>
	<key>GCM_SENDER_ID</key>
	<string>554402043793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LyxLLC.Koa</string>
	<key>PROJECT_ID</key>
	<string>koaapp-890ef</string>
	<key>STORAGE_BUCKET</key>
	<string>koaapp-890ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554402043793:ios:276f6888e0bcc25e</string>
	<key>DATABASE_URL</key>
	<string>https://koaapp-890ef.firebaseio.com</string>
</dict>
</plist>